html {
  scroll-behavior: smooth;
}

body {
  background-color: darkgray;
  color: gold;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: black;
  border: 1px solid black;
  padding: 1rem;
}

#pageheader {
  background-color:#c58b6a ;
  min-height: auto;
  padding: 1rem;
  margin: auto;
  display: block;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: red;
  background-image: url(Images/logosmall2.png);
}

#pageheader .container {
  background-color: white;
  min-height: auto;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

#pageheader nav{
  text-align: center;
}

#pageheader nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li{
  border: 2px solid silver;
  padding: 1rem;
  background-color: cadetblue;
  margin: 2px;
  border-radius: 10px;
}

#pageheader nav ul li:hover
{
  background-color: yellow;
}

#media {
  background-color: lightblue;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/la.webp);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: #feac12;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: #feb63f;
  min-height: 10rem;
  padding: 1rem;
}

blockquote {
  background-color: ;
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
}

blockquote + span {
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
}

span {
  background-color: ;
}

#semester1 {
  background-color: #fe9602;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: mediumblue;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: #fe8802;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: #ff6204;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  display: block;
  margin: auto;
  background-color: black;
  border: 5px solid black;
}

@media screen and (min-width: 600px)  {
#pageheader nav ul 
{
  background-color: red;
  margin-top: 2rem;
}
#pageheader nav ul li{
  display: inline;
}


  #pagecontent {
    
  #career {
   
  }
}

@media screen and (min-width: 1000px) {
  #pagecontent {
  }
  #career {
  }
}
