/* This is a CSS comment */
/* ? */
/* ! */
/* TODO */
/* * */



body
{
    background-color: steelblue;
}

h1
{
    color: navy;
    background-color: white;
    padding: 1rem;
}

ul
{
    font-family: 'Courier New', Courier, monospace;
}